attr~=0.3.1
attrs~=21.4.0
Cartopy~=0.20.2
clldutils~=3.11.1
cltoolkit~=0.1.1
csvw~=2.0.0
GitPython~=3.1.27
idspy~=0.3.0
library~=0.0.0
lingpy~=2.6.9
lingrex~=1.2.0
matplotlib~=3.5.1
networkx~=2.8
numpy~=1.22.3
pycldf~=1.25.1
pyconcepticon~=2.8.0
pylexibank~=3.3.0
scikit_learn~=1.1.1
scipy~=1.8.0
setuptools~=62.1.0
tabulate~=0.8.9
